<div data-reactroot="" class="Polaris-Page" style="max-width:100%;">
   
 
 
 
<div class="" id="content">
    <div id="inner-content" class="page">
       
        
            <section class="ui-annotated-section">
                <div class="ui-annotated-section__annotation">
                   
    <div class="ui-annotated-section__title">
        <h2 class="next-heading next-heading--no-margin">SHOP.COM MBC Account</h2>
    </div>
<div class="ui-annotated-section__description">
    <p>Get started by connecting your existing SHOP.COM account or registering a new account.</p>
    <p>
        All sellers get free insertion fee listings per month (<a href="http://pages.ebay.com/help/sell/insertion-fee.html#free" target="_blank">restrictions and exclusions apply</a>).
    </p>
</div>
 
                </div>
                <div class="ui-annotated-section__content">
                   
 
 
<section class="ui-card">
    <section class="ui-card__section">
        <div class="ui-type-container">
            <div class="area-settings-nav__item">
                <div style="flex: 1 0 35rem;" class="text-emphasis-subdued">No account connected</div>
                <a href='https://staging-mbc.shop.com/self-serve/create-account' target='_blank'>Connect</a>
            </div>
            <div class="ui-type-container">
             
               
                <p>
                    By clicking Connect, you are accepting SHOP.COM MBC’s <a href="https://staging-mbc.shop.com" target="_blank">User Agreement</a>.</p>
            </div>
        </div>
    </section>
</section>
 
 
                </div>
            </section>
 
 
 
 
 
       
        
    </div>
</div>
</div>
 
